---
import Layout from "../layouts/Layout.astro";
import zkbarbre_by_Mike_Mignola_w_1024 from "../images/zkbarbre_by_Mike_Mignola_w_1024.png";
import zkbarbre_by_Mike_Mignola_w_340 from "../images/zkbarbre_by_Mike_Mignola_w_340.png";
import zkbarbre_by_Mike_Mignola_w_443 from "../images/zkbarbre_by_Mike_Mignola_w_443.png";
import zkbarbre_by_Mike_Mignola_w_529 from "../images/zkbarbre_by_Mike_Mignola_w_529.png";
import zkbarbre_by_Mike_Mignola_w_610 from "../images/zkbarbre_by_Mike_Mignola_w_610.png";
import zkbarbre_by_Mike_Mignola_w_681 from "../images/zkbarbre_by_Mike_Mignola_w_681.png";
import zkbarbre_by_Mike_Mignola_w_745 from "../images/zkbarbre_by_Mike_Mignola_w_745.png";
import zkbarbre_by_Mike_Mignola_w_802 from "../images/zkbarbre_by_Mike_Mignola_w_802.png";
import zkbarbre_by_Mike_Mignola_w_856 from "../images/zkbarbre_by_Mike_Mignola_w_856.png";
import zkbarbre_by_Mike_Mignola_w_910 from "../images/zkbarbre_by_Mike_Mignola_w_910.png";
import zkbarbre_by_Mike_Mignola_w_964 from "../images/zkbarbre_by_Mike_Mignola_w_964.png";
import zkbarbre_by_Mike_Mignola_w_1014 from "../images/zkbarbre_by_Mike_Mignola_w_1014.png";

340;
443;
529;
610;
681;
745;
802;
856;
910;
964;
1014;
---

<Layout title="About">
  <main class="container">
    <h2>About</h2>
    <p>This is me.</p>
    <img
      sizes="(max-width: 1024px) 100vw, 1024px"
      srcset={`
              ${zkbarbre_by_Mike_Mignola_w_340} 340w,
              ${zkbarbre_by_Mike_Mignola_w_443} 443w,
              ${zkbarbre_by_Mike_Mignola_w_529} 529w,
              ${zkbarbre_by_Mike_Mignola_w_610} 610w,
              ${zkbarbre_by_Mike_Mignola_w_681} 681w,
              ${zkbarbre_by_Mike_Mignola_w_745} 745w,
              ${zkbarbre_by_Mike_Mignola_w_802} 802w,
              ${zkbarbre_by_Mike_Mignola_w_856} 856w,
              ${zkbarbre_by_Mike_Mignola_w_910} 910w,
              ${zkbarbre_by_Mike_Mignola_w_964} 964w,
              ${zkbarbre_by_Mike_Mignola_w_1014} 1014w,
              ${zkbarbre_by_Mike_Mignola_w_1024} 1024w`}
      src={zkbarbre_by_Mike_Mignola_w_1024}
      alt="Drawing of Zach in the style of Mike Mignola"
    />
    <p>
      Well... sort of. This is me as <a href="http://midjourney.com"
        >Midjourney</a
      > imagines Mike Mignola drew me.
    </p>
    <p>
      Anyways, I'm Zach and this is a bit of a playground. If you want my
      "official" site head over to <a href="http://www.zachbarbre.com"
        >zachbarbre.com</a
      >
    </p>
    <p>
      This site is built with <a href="https://astro.build/">Astro</a>. The
      matchups pages are built as React islands using <a
        href='https://airbnb.io/visx/"'>visx</a>
    </p>
  </main>
</Layout>

<style>
  img {
    padding-bottom: 1rem;
    border-radius: 15% / 30%;
  }
</style>
